hr{
  border-color:#ccff00;
}
a{
  color:black;
}
textarea{
  resize: vertical;
}
.no-styled-link{
  text-decoration: none;
}
.bg-app a.link, .styled-link{
  text-decoration: underline dotted black;
}
.middle{
  vertical-align:middle;
}
.center{
  text-align:center;
}
.padding-top{
  padding-top:70px;
}
.full-width{
  width:100%;
}
.txt-right{
  text-align:right;
}
.txt-center{
  text-align:center;
}
.bg-app{
  background-color:#ccff00;
}
.b-app{
  border-color:#ccff00;
}
.bg-app a{
  color:black;
}
.headers{
  background-color: lightsteelblue;
  padding: 10px;
  border-radius: 5px;
}
.rows{
  background-color: rgba(176,196,222,0.3);
  padding: 10px;
  border-radius: 5px;
}
.note{
  background-color: rgba(55,55,55,0.3);
  padding: 10px;
  border-radius: 5px;
}
.v-actions{
  margin-top: 100px;
  font-weight: bold;
}
.v-actions input[type='submit']{
  font-size:20px;
  cursor:pointer;
}
.footer{
  text-align:center;
  padding-top: 100px;
}
