<%= form_with(model: @csv) do |form| %>
  <% if @csv.errors.any? %>
    <div class="row">
      <div id="error_explanation" class='p1 bg-info'>
        <h2><%= pluralize(@csv.errors.count, "error") %> prohibited this CSV from being saved:</h2>

        <ul>
          <% @csv.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render 'form_fields', csv: @csv, form: form %>

  <div class="actions">
    <hr>
    <%= form.submit nil, class: 'btn bg-app b-app' %> or <%= link_to 'cancel', csvs_path %>
  </div>
<% end %>
