<% content_for :title, t('csvs') %>

<h1><%= yield(:title) %></h1>

<div class="row">
  <% if @csvs.blank? %>
  <p>There is no CSV yet</p>
  <% else %>
  <div class='txt-right'>
    <%= form_tag csvs_path, method: :get do %>
      <%= text_field_tag(:search, params[:search], 
                         class: 'card w-100', 
                         autocomplete: 'off', 
                         placeholder: 'Type and press Enter in order to search') %>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Created at</th>
        <th>State</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @csvs.each do |csv| %>
        <tr>
          <td><%= csv.created_at %></td>
          <td><%= highlight(csv.state , params[:search])%></td>
          <td>
            <%= link_to 'Show', csv %>
            <%= link_to 'Destroy', csv_path(csv), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @csvs %>
  <% end %>
</div>

<br/>
<p><%= link_to 'New CSV', new_csv_path, class: 'btn bg-app b-app' %></p>

