<% content_for :title, @csv.created_at %>

<p><%= link_to 'Back', csvs_path, class: 'styled-link' %> to CSVs</p>

<h1><%= yield(:title) %></h1>

<div class="row">
  <strong>CSV file:</strong>
  <% if @csv.csv_file.attached? %>
    <%= link_to @csv.csv_file.filename, rails_blob_path(@csv.csv_file, disposition: "attachment"), target: '_blank' %>
  <% else %>
    No file attached
  <% end %>
</div>


