<% if !flash[:notice].blank? %>
<div class='row'>
  <p id='notice' class='p1 bg-info notice'><%= notice %></p>
</div>
<% end %>
<% if !flash[:alert].blank? %>
<div class='row'>
  <p id='alert' class='p1 bg-accent alert'><%= alert %></p>
</div>
<% end %>

