<% I18n.available_locales.each do |locale| %>
  <a class='link' href='?locale=<%= locale %>' style="font-weight: <%= locale == I18n.locale ? 'bold' : 'normal' %>">
    <%= t('language', locale: locale) %>
  </a>
<% end %>
