<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <meta content='2022 - Harroin :: Grupo Microson' name='author'/>
    <meta content='MSP is Management & Signature Prompt' name='description'/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>PCA<%= ('::' + yield(:title) if !yield(:title).blank?).to_s %></title>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render 'layouts/header_css' %>
  </head>

  <body>
    <div class='c'>
      <div class='bg-app pv2 row'>
        <div class='col'>
          <%= render 'layouts/navbar_home' %>
          <%= render 'layouts/navbar_items' %>
        </div>
        <div class='col txt-right'>
          <%= render 'layouts/navbar_lang_sw' %>
        </div>
      </div>
      <%= render 'layouts/body_flash' %>
      <%= yield %>
      <%= render 'layouts/body_footer' %>
    </div>
  </body>
</html>

